.content404 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: "Quicksand";
}

.content404 h1 {
  font-size: 80px;
  color: #36c1b6;
  font-weight: bold;
}

.content404 p {
  font-size: 40px;
  text-align: center;
  color: #36c1b6;
}
