<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>SiGIAPP</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="imagens/faviconsinterativos/0.png" type="image/png">
    <meta name="theme-color" content="#eeeeee">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="../script/mobilepc.js"></script>
    <!--FONTES-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
    <!--STYLES-->
    <link rel="stylesheet" href="../css/material_design.css">
    <link rel="stylesheet" href="../css/feed.css">
    <link rel="stylesheet" href="../css/panel.css">
    <link rel="stylesheet" href="../css/speakers.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <!--ICONES PARA MOBILE-->
    <link href="../imagens/apple-touch-icon.png" rel="ícone do toque da maçã"/>
    <link href="../imagens/apple-touch-icon-76x76.png" rel="apple-touch-icon" tamanhos="76x76"/>
    <link href="../imagens/apple-touch-icon-120x120.png" rel="apple-touch-icon" tamanhos="120x120"/>
    <link href="../imagens/apple-touch-icon-152x152.png" rel="apple-touch-icon" tamanhos="152x152"/>
    <link href="../imagens/apple-touch-icon-180x180.png" rel="apple-touch-icon" tamanhos="180x180"/>

  </head>
  <script type="text/javascript" language="JavaScript">
    var interval
    var segundo = 0 + "0";
    var minuto = 0 + "0";
    var aux = 0;
    var contEsp = 0;
    var winW = $(window).width();
    var winH = $(window).height();
    var numdeOra = 2;
    var primeiro = true;
    var oradores = [];
    var codOradores = [];
    var listaDelegacoes = [];
    var listaSiglas = [];
    var qntOradores = 0;
    var posLista = 2;

    function tempo() {
      if (segundo < 59) {
        segundo++
        if (segundo < 10) {
          segundo = "0" + segundo
        }
      } else if (segundo == 59 && minuto < 59) {
        segundo = 0 + "0";
        minuto++;
        if (minuto < 10) {
          minuto = "0" + minuto
        }
      }
      $('#tempoCronometro').val(minuto + ":" + segundo);
    }

    function adicionar() {
      delegacao = $('#del').val();
      sigla = $('#sig').val();

      listaDelegacoes.push(delegacao);
      listaSiglas.push(sigla);

      alert(listaDelegacoes);
      alert(listaSiglas);

      if (primeiro == true) {
        codOradores.push('<center><img src="bandeiras/' + sigla + '.png" class="img-responsive bandeira1" alt="bandeira" id="bandeira1"></center><div class="nome1">' + delegacao + '</div><form name="form"><center><label class="tempoTitulo">TEMPO: </label><input type="text" name="cronometro" value="00:00" class="painelCronometro" id="tempoCronometro"><br /></center></form>')
        $("#delegacaoFalando").append(codOradores[0])
        primeiro = false;
        qntOradores++
      } else {
        codOradores.push('<div class="ordemDefault">' + numdeOra + 'º </div><img src="bandeiras/' + sigla + '.png" class="img-responsive bandDefault" alt="bandeira' + numdeOra + '" id="bandeira' + numdeOra + '"><div class="nomeDefault"> ' + delegacao + '</div><br>')
        $("#listaOradores").append(codOradores[numdeOra - 1]);
        numdeOra++;
        qntOradores++;
      }
    }

    function troca(ind) {
      if (ind == 1) {
        $('#botO').hide();
        $('#posicaoL').show();
        $('#botOrPeq').hide();
        $('#posicaoLiPeq').show();
      }
      if (ind == 2) {
        $('#botO').show();
        $('#posicaoL').hide();
        $('#botOrPeq').show();
        $('#posicaoLiPeq').hide();
      }
    }

    function destroca() {
      $('#botOradores').show();
      $('#posicaoLista').hide();
    }

    function carrega() {
      $('#botOradores').show();
      $('#botOrPeq').show();
    }

    document.head || (document.head = document.getElementsByTagName('head')[0]);

    function changeFavicon(src) {
      var link = document.createElement('link'),
        oldLink = document.getElementById('dynamic-favicon');
      link.id = 'dynamic-favicon';
      link.rel = 'icon';
      link.href = src;
      if (oldLink) {
        document
          .head
          .removeChild(oldLink);
      }
      document
        .head
        .appendChild(link);
    }

    function order() {
      posLista++;
      document.title = ("(" + posLista + ") SiGIAPP");
      if (posLista == 1) {
        changeFavicon('../imagens/faviconsinterativos/1.png');
      }
      if (posLista == 2) {
        changeFavicon('../imagens/faviconsinterativos/2.png');
      }
      if (posLista == 3) {
        changeFavicon('../imagens/faviconsinterativos/3.png');
      }
      if (posLista == 4) {
        changeFavicon('../imagens/faviconsinterativos/4.png');
      }
      if (posLista == 5) {
        changeFavicon('../imagens/faviconsinterativos/5.png');
      }
      if (posLista == 6) {
        changeFavicon('../imagens/faviconsinterativos/6.png');
      }
      if (posLista == 7) {
        changeFavicon('../imagens/faviconsinterativos/7.png');
      }
      if (posLista == 8) {
        changeFavicon('../imagens/faviconsinterativos/8.png');
      }
      if (posLista == 9) {
        changeFavicon('../imagens/faviconsinterativos/9.png');
      }
      if (posLista >= 10) {
        changeFavicon('../imagens/faviconsinterativos/9plus.png');
      }
      if (posLista == 0) {
        changeFavicon('../imagens/faviconsinterativos/0.png');
      }
    };

    var _gaq = [
      [
        '_setAccount', 'UA-6065217-11'
      ],
      ['_trackPageview']
    ];
    (function (d, t) {
      var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
      g.src = 'https://www.google-analytics.com/ga.js';
      s
        .parentNode
        .insertBefore(g, s);
    })(document, 'script');
  </script>
  <body onload="getCommitteIdFromNJK('{{ committe._id }}'); getUserIdFromNJK('{{ user._id }}')">

    <div class="load hidden-sm hidden-xs" id="loaddesk"><img src="../imagens/gif-carregamento.gif" style="height: 100px; width: 100px;"></div>
    <div class="load hidden-md hidden-lg" id="loadmobile" style="left: 38%"><img src="../imagens/gif-carregamento.gif" style="height: 100px; width: 100px;"></div>

    <nav class="navbar navbar-default">
      <div class="container">
        <center>
          <a href="feed.html">
            <img src="../imagens/iconebranco.png" class="hidden-xs hidden-sm" style="height: 50px; width: 50px; top: 5px; position: absolute; margin-left: -25px;">
            <img src="../imagens/sigilogo.png" class="hidden-md hidden-lg" style="height: 50px; width: 50px; top: 5px; position: absolute; margin-left: -25px;">
          </a>
        </center>
        <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
          <li class="itemNav">
            <a style="color: #ffffff;" href="feed.html">Feed</a>
          </li>
          <li class="itemNav">
            <a style="color: #ffffff;" href="menu.html">
              Menu</a>
          </li>
          <li class="activeNavIcon">
            <a style="color: #36C1B6;" href="oradores.html">Lista de Oradores</a>
          </li>
          <li class="itemNav">
            <a style="color: #ffffff;" href="perfil.html">Perfil</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="espacadorCima"></div>
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <center><img src="../assets/organs/{{ committe.organ.alias }}.png" class="simboloComite" draggable="false"></center>
          <div class="titulo">{{ committe.organ.alias | upper }}:
            {{ committe.title | upper }}
            -
            {{ committe.year }}
          </div>
        </div>
        {% if committe.lists | length == 0 %}
          <div class="tituloAguardo">AGUARDANDO O INÍCIO DA SESSÃO</div>
        {% endif %}
      </div>
    </div>

    {% if committe.lists | length != 0 %}
      <div class="row">
        <p class="emptyList">
          LISTA DE ORADORES VAZIA
        </p>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div id="delegacaoFalando"></div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          <div class="espacador"></div>

          <div id="listaOradores"></div>

          <br>

          <div class="espacadorBaixo"></div>

        </div>

        <!--DISPOSITIVOS PEQUENOS-->

        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
          <button type="button" class="btn btn-default botControlesMobile" id="botOrPeq" onclick="getIn()">+<i class="fas fa-bullhorn"></i>
          </button>
          <div class="botControlesMobile notselectable" id="posicaoLiPeq" style="font-size: 30px; text-align: center; padding-top: 9px; padding-left: 3px;">X</div>
          <!-- <div type="button" class="btn btn-default botExtraOptions" id="botOrPeq"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true" style="margin-bottom: 2px"></span></div> -->
        </div>

      </div>
    {% endif %}
  </div>

  {% if committe.lists | length >= 1 %}
    <!--CONTROLES-->
    <div class="container-fluid navembaixo">
      <div class="row">
        <div class="paineldeControle hidden-xs hidden-sm" id="paineldeControle" onchange="controle()">

          <!--DISPOSITIVOS MEDIOS E GRANDES-->

          <div class="col-md-12">
            <center>
              <button onclick="getIn()" type="button" class="btn btn-default botControles" id="botO" style="width: 50%;" data-toggle="modal">
                <i class="fas fa-bullhorn"></i>
                ENTRAR NA LISTA
              </button>
              <div class="posicaoLista" id="posicaoL">
                <b>POSIÇÃO: X</b>
              </div>
            </center>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Modal Explicação Favicons Interativos-->
  <div class="modal fade" id="faviconGuide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="font-size: 30px; font-family: 'Open Sans Condensed', sans-serif;">&times;</span></button>
          <center>
            <h3>Favicons Interativos!</h3>
          </center>
        </div>
        <div class="modal-body">
          <div class="description">
            Para facilitar sua navegação entre abas temos os favicons interativos(esse icone que é exibido ao lado do nome do site). Dessa forma você pode pesquisar informações dentro do navegador sem se preocupar em perder sua vez de falar!
          </div>
          <img class="img-responsive" src="../imagens/faviconsinterativos/gif-faviconinterativo.gif" draggable="false">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default botPub" data-dismiss="modal">FECHAR</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid navembaixo hidden-md hidden-lg">
    <div class="row">
      <div class="col-md-12 icones hidden-md hidden-lg">
        <a href="feed.html">
          <i class="material-icons-outlined naveg">home</i>
        </a>
        <a href="menu.html">
          <i class="material-icons-outlined naveg">dashboard</i>
        </a>
        <a href="oradores.html">
          <i class="material-icons naveg">view_list</i>
        </a>
        <a href="perfil.html">
          <i class="material-icons-outlined naveg2">person</i>
        </a>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('#loaddesk').hide();
      $('#loadmobile').hide();
    });
  </script>

  <script src="../script/socket.io.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../script/speakers.js"></script>

  {% if committe.crisis != null %}

  <script>
    setCrisis()
  </script>

{% endif %}
</body>
</html>
